.site-header {

  *, a {
    background-color: #373F51;
    color: white;
  }

  .usa-logo-text > a {
    color: #58A4B0;
  }

  //overerides
  @media screen and (min-width: 951px) {
    .usa-header-basic .usa-navbar {
        width: 70%;
    }
  }

  @media screen and (min-width: 951px) {
    .usa-navbar {
      height: 7rem;
    }
  }

  @media screen and (min-width: 951px) {
    .usa-nav {
      padding-top: 1.6rem;
    }
  }

  .active-url {
    color: #DAA49A;
  }

}
