.home {

  height: 100%;

  text-align: center;

  .logos {
    max-height: 300px;
    margin: auto;
    width: 50%;
  }

  .badge {
    padding-bottom: 20px;
  }

  #main-content {
    margin-bottom: 225px;
  }

}
