// USWDS
@import '../../node_modules/uswds/dist/css/uswds.css';

@import '../../node_modules/leaflet/dist/leaflet.css';

// Global
@import 'variables';

@import 'home';
@import 'about';
@import 'meta';
@import 'footer';
@import 'header';

* {
    font-family: 'Montserrat', sans-serif !important;
}

body {
    background-color: #D8DBE2;
}

.leaflet-popup-content-wrapper {
    font-size: 1.5em;
}